<footer class="main-footer main-footer--version2 background-black-2">
    <div class="main-footer__bg background-black-2" style="background-image: url(assets/images/shapes/footer-shape1-1.png);"></div>
    <!-- /.main-footer__bg -->
    <div class="main-footer__top">
        <div class="container">
            <div class="row">
                <div class="footer-widget__col footer-widget__col__col1">
                    <div class="footer-widget footer-widget--about">
                        <a href="/" class="footer-widget__logo">
                            <img src="assets/images/logo-light.png" width="155" alt="Agrofa HTML Template">
                        </a>
                        <p class="footer-widget__experience-text"></p>
                        
                        <div class="mc-form__response"></div><!-- /.mc-form__response -->
                    </div><!-- /.footer-widget -->
                </div><!-- /.col-md-6 -->

                <div class="footer-widget__col  footer-widget__col__col2">
                    <div class="footer-widget footer-widget--links">
                        <h5 class="footer-widget__title">Links</h5>
                        <ul class="list-unstyled footer-widget__links">
                            <li><a href="/select/pesticides&fertilizers">Pesticides & Fertilizers</a></li>
                            <li><a href="/services">Services</a></li>
                            <li><a href="/products">Shop</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul><!-- /.list-unstyled footer-widget__links -->
                    </div><!-- /.footer-widget -->
                </div><!-- /.col-md-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.main-footer__top -->

    <div class="main-footer__bottom">
        <div class="container">
            <div class="main-footer__bottom__inner">
                <p class="main-footer__copyright"> &copy; <span class="dynamic-year"></span> All Rights Reserved</p>
            </div><!-- /.main-footer__inner -->
        </div><!-- /.container -->
    </div><!-- /.main-footer__bottom -->
</footer><!-- /.main-footer -->