<!DOCTYPE html>
<html lang="en">
  <!-- Mirrored from bracketweb.com/agrofa-html/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 17 Sep 2024 12:01:36 GMT -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <!-- favicons Icons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/images/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/images/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="assets/images/favicons/favicon-16x16.png"
    />
    <link rel="manifest" href="assets/images/favicons/site.webmanifest" />
    <meta
      name="description"
      content="Sollox is a modern HTML Template for Beauty, Spa Centers, Hair, Nail, Spa Salons & Cosmetic shops. The template perfectly fits Beauty Spa, Salon, and Wellness Treatments websites and businesses."
    />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Pathway+Extreme:opsz,wght@8..144,400;8..144,600&amp;display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="assets/vendors/bootstrap/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="assets/vendors/bootstrap-select/bootstrap-select.min.css"
    />
    <link rel="stylesheet" href="assets/vendors/animate/animate.min.css" />
    <link rel="stylesheet" href="assets/vendors/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="assets/vendors/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="assets/vendors/jarallax/jarallax.css" />
    <link
      rel="stylesheet"
      href="assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css"
    />
    <link
      rel="stylesheet"
      href="assets/vendors/nouislider/nouislider.min.css"
    />
    <link
      rel="stylesheet"
      href="assets/vendors/nouislider/nouislider.pips.css"
    />
    <link rel="stylesheet" href="assets/vendors/tiny-slider/tiny-slider.css" />
    <link rel="stylesheet" href="assets/vendors/agrofa-icons/style.css" />
    <link
      rel="stylesheet"
      href="assets/vendors/owl-carousel/css/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="assets/vendors/owl-carousel/css/owl.theme.default.min.css"
    />

    <!-- template styles -->
    <link rel="stylesheet" href="assets/css/agrofa.css" />

    <style>
      .work-learn-one--two {
        padding-bottom: 0;
      }

      .about-two__col{
        align-items: center;
      }
    </style>
  </head>

  <body class="custom-cursor">
    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>

    <div class="preloader">
      <div
        class="preloader__image"
        style="background-image: url(assets/images/loader.png)"
      ></div>
    </div>
    <!-- /.preloader -->
    <div class="page-wrapper">
      <div class="topbar-one topbar-one--two">
        <div class="container-fluid">
          <!-- /.topbar-one__inner -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /.topbar-one -->

       <%- include("./partials/header") %>
      <!-- main-slider-start -->
      <section class="main-slider-two">
        <div
          class="main-slider-two__carousel agrofa-owl__carousel owl-carousel"
          data-owl-options='{
		"loop": false,
		"animateOut": "fadeOut",
		"animateIn": "fadeIn",
		"items": 1,
		"autoplay": false,
		"autoplayTimeout": 7000,
		"smartSpeed": 1000,
		"nav": true,
        "navText": ["<span class=\"icon-left-arrow1\"></span>","<span class=\"icon-right-arrow1\"></span>"],
		"dots": false,
		"margin": 0
		}'
        >
          <div class="item">
            <div class="main-slider-two__item">
              <div class="main-slider-two__bg">
                <img
                  src="assets/images/hero-images/hero-img1-2.jpg"
                  alt="agrofa"
                />
                <img
                  src="assets/images/hero-images/hero-img1-3.jpg"
                  alt="agrofa"
                />
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-md-12 main-slider-two__col">
                    <div class="main-slider-two__content">
                      <h5 class="main-slider-two__sub-title">
                        Provide best farming suggestions and products
                      </h5>
                      <!-- slider-sub-title -->
                      <h2 class="main-slider-two__title">
                        <span> Organic Farming And Agriculture</span>
                      </h2>
                      <!-- slider-title -->
                      <p class="main-slider-two__info-text">
                        Unlock your farm’s full potential! Get expert crop recommendations by season, powerful pesticides, nutrient-rich fertilizers, and top farming products—all in one powerful platform.
                      </p>
                      <div class="main-slider-two__btn">
                        <a href="/services" class="agrofa-btn agrofa-btn--base"
                          ><span>Discover more</span></a
                        ><!-- slider-btn -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="main-slider-two__item">
              <div class="main-slider-two__bg">
                <img
                  src="assets/images/hero-images/hero-img1-1.jpg"
                  alt="agrofa"
                />
                <img
                  src="assets/images/hero-images/hero-img1-3.jpg"
                  alt="agrofa"
                />
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-md-12 main-slider-two__col">
                    <div class="main-slider-two__content">
                      <h5 class="main-slider-two__sub-title">
                        We’re Best Organic Farm
                      </h5>
                      <!-- slider-sub-title -->
                      <h2 class="main-slider-two__title">
                        <span> Organic Farming And Agriculture</span>
                      </h2>
                      <!-- slider-title -->
                      <p class="main-slider-two__info-text">
                        From climate emergency to food security, the way we farm
                        is key to solving some of the biggest issues facing us
                        today.
                      </p>
                      <div class="main-slider-two__btn">
                        <a href="/services" class="agrofa-btn agrofa-btn--base"
                          ><span>Discover more</span></a
                        ><!-- slider-btn -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="main-slider-two__item">
              <div class="main-slider-two__bg">
                <img
                  src="assets/images/hero-images/hero-img1-2.jpg"
                  alt="agrofa"
                />
                <img
                  src="assets/images/hero-images/hero-img1-1.jpg"
                  alt="agrofa"
                />
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-md-12 main-slider-two__col">
                    <div class="main-slider-two__content">
                      <h5 class="main-slider-two__sub-title">
                        We’re Best Organic Farm
                      </h5>
                      <!-- slider-sub-title -->
                      <h2 class="main-slider-two__title">
                        <span> Organic Farming And Agriculture</span>
                      </h2>
                      <!-- slider-title -->
                      <p class="main-slider-two__info-text">
                        From climate emergency to food security, the way we farm
                        is key to solving some of the biggest issues facing us
                        today.
                      </p>
                      <div class="main-slider-two__btn">
                        <a href="/services" class="agrofa-btn agrofa-btn--base"
                          ><span>Discover more</span></a
                        ><!-- slider-btn -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- main-slider-end -->

      <!-- Feature Start -->
      <section class="feature-one feature-one--two">
        <div class="container">
          <div class="row">
            <div
              class="feature-one__col-item col-md-4 col-sm-12 wow fadeInUp"
              data-wow-delay="100ms"
            >
              <div class="feature-one__item text-center">
                <div class="feature-one__item-bg">
                  <div class="feature-one__cricle-icon">
                    <i class="icon-crops about-two__icon" aria-hidden="true"></i>
                  </div>
                  <h3 class="feature-one__title">
                    Best Crops <br />
                    For Seasons
                  </h3>
                </div>
              </div>
              <!-- feature-item -->
            </div>

            <div
              class="feature-one__col-item col-md-4 col-sm-12 wow fadeInUp"
              data-wow-delay="100ms"
            >
              <div class="feature-one__item text-center">
                <div class="feature-one__item-bg">
                  <div class="feature-one__cricle-icon">
                    <i
                      class="icon-hand feature-one__icon"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <h3 class="feature-one__title">
                    Find Best <br />
                    Pesticides
                  </h3>
                </div>
              </div>
              <!-- feature-item -->
            </div>

            <div
              class="feature-one__col-item col-md-4 col-sm-12 wow fadeInUp"
              data-wow-delay="100ms"
            >
              <div class="feature-one__item text-center">
                <div class="feature-one__item-bg">
                  <div class="feature-one__cricle-icon">
                    <i
                      class="icon-tractor feature-one__icon"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <h3 class="feature-one__title">
                    Select Best <br />
                    Fertilizations
                  </h3>
                </div>
              </div>
              <!-- feature-item -->
            </div>
          </div>
        </div>
        <div class="feature-one--two__effect3">
          <img src="assets/images/shapes/choose-effect2-1.png" alt="" />
        </div>
      </section>
      <!-- Feature End -->

      <section class="choose-feature-two">
        <div class="container">
          <div class="row choose-feature-two__row">
            <div class="col-lg-6">
              <div
                class="choose-feature-two__col choose-feature-two--left"
                style="
                  background-image: url('assets/images/resources/choose-img2-1.png');
                "
              >
                <div class="choose-feature-two__info">
                  <h4 class="choose-feature-two__info-title">
                    We're <br />
                    Providing <br />
                    Best Services.
                  </h4>
                  <a href="/services" class="agrofa-btn choose-feature-two-btn"
                    ><span>Check</span></a
                  >
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div
                class="choose-feature-two__col choose-feature-two--right"
                style="
                  background-image: url('assets/images/resources/choose-img2-2.png');
                "
              >
                <div
                  class="choose-feature-two__info choose-feature-two__info--cricle"
                >
                  <div class="choose-feature-two__cricle">
                    <i class="icon-crops choose-feature-two__icon"></i>
                  </div>
                  <h4 class="choose-feature-two__info-title">
                    Fresh, reliable, <br />
                    sustainable ingredients for <br />
                    the food industry
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /.choose-feature-two -->

      <section class="about-two">
        <div class="container-fluid">
          <div class="row about-two__content-row">
            <div
              class="about-two__left fadeInLeft wow"
              data-wow-delay="1500ms"
            ></div>

            <div
              class="about-two__right fadeInRight wow"
              data-wow-delay="1500ms"
            >
              <div class="section-common-title">
                <span class="about-two__chose-reasone food-chose-reasone">
                  <img
                    class="about-two__chose-icon food-chose-icon"
                    src="assets/images/shapes/food-img1-1.png"
                    alt=""
                  />
                </span>
                <h2 class="about-two__title food-chose-title">
                  Providing The Organic Service
                </h2>
                
              </div>

              <div class="about-two__featurebx">
                <div class="about-two__col">
                  <div class="about-two__cricle">
                    <i
                      class="icon-medal about-two__icon"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <div class="about-two__quality-info-bx">
                    <h6 class="about-two__quality-title">
                      100% Guaranteed Organic
                    </h6>
                  </div>
                </div>
                <div class="about-two__col">
                  <div class="about-two__cricle">
                    <i
                      class="icon-crops about-two__icon"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <div class="about-two__quality-info-bx">
                    <h6 class="about-two__quality-title">
                      Top-Quality Healthy Foods
                    </h6>
                   
                  </div>
                </div>
              </div>
              <ul class="about-two__quality-list">
                <li>
                  <i class="fas fa-check-circle"></i> Need help converting to
                  organic or farming more sustainably?
                </li>
                <li>
                  <i class="fas fa-check-circle"></i> Fresh, reliable,
                  sustainable ingredients for the food industry
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="about-two__effect-bg">
          <img src="assets/images/resources/about-photo2-1.png" alt="" />
        </div>
      </section>

      <section class="why-choose-one why-choose-one--two">
        <div class="container">
          <div
            class="section-common-title fadeInDown wow"
            data-wow-delay="1500ms"
          >
            <span class="why-choose-one__chose-reasone food-chose-reasone">
              <img
                class="why-choose-one__chose-icon food-chose-icon"
                src="assets/images/shapes/food-img1-1.png"
                alt=""
              />
            </span>
            <h2 class="why-choose-one__title food-chose-title">
              We Offers Agriculture Eco Services
            </h2>
          </div>

          <div class="row why-choose-one__row">
            <div
              class="why-choose-one__col col-xl-3 wow fadeIn"
              data-wow-delay="1100ms"
            >
              <div class="why-choose-one__bg">
                <div class="why-choose-one__bg-inner">
                  <div class="why-choose-one__top">
                    <div class="why-choose-one__icon-bx">
                      <i class="icon-apple why-choose-one__icon"></i>
                    </div>

                    <div class="why-choose-one__top__right">
                      <h6 class="why-choose-one__name">
                        Agriculture <br />
                        Products
                      </h6>
                    </div>
                  </div>

                  <div class="why-choose-one__content">
                    <p class="why-choose-one__descript">
                      Welcome to Dosner Organic Farms.We are a direct
                      distributor of 100% Organic herbs produce.
                    </p>
                    <a
                      href="service-d-agriculture-products.html"
                      class="why-choose-one__read-btn"
                      >Read More</a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div
              class="why-choose-one__col col-xl-3 wow fadeIn"
              data-wow-delay="1300ms"
            >
              <div class="why-choose-one__bg">
                <div class="why-choose-one__bg-inner">
                  <div class="why-choose-one__top">
                    <div class="why-choose-one__icon-bx">
                      <i class="icon-crop why-choose-one__icon"></i>
                    </div>

                    <div class="why-choose-one__top__right">
                      <h6 class="why-choose-one__name">
                        Fresh <br />
                        Vegetables
                      </h6>
                    </div>
                  </div>

                  <div class="why-choose-one__content">
                    <p class="why-choose-one__descript">
                      Welcome to Dosner Organic Farms.We are a direct
                      distributor of 100% Organic herbs produce.
                    </p>
                    <a
                      href="service-d-vegetables-fresh-food.html"
                      class="why-choose-one__read-btn"
                      >Read More</a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div
              class="why-choose-one__col col-xl-3 wow fadeIn"
              data-wow-delay="1500ms"
            >
              <div class="why-choose-one__bg">
                <div class="why-choose-one__bg-inner">
                  <div class="why-choose-one__top">
                    <div class="why-choose-one__icon-bx">
                      <i class="icon-medicine why-choose-one__icon"></i>
                    </div>

                    <div class="why-choose-one__top__right">
                      <h6 class="why-choose-one__name">
                        Dairy <br />
                        Products
                      </h6>
                    </div>
                  </div>

                  <div class="why-choose-one__content">
                    <p class="why-choose-one__descript">
                      Welcome to Dosner Organic Farms.We are a direct
                      distributor of 100% Organic herbs produce.
                    </p>
                    <a
                      href="service-d-dairy-products.html"
                      class="why-choose-one__read-btn"
                      >Read More</a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div
              class="why-choose-one__col col-xl-3 wow fadeIn"
              data-wow-delay="1700ms"
            >
              <div class="why-choose-one__bg">
                <div class="why-choose-one__bg-inner">
                  <div class="why-choose-one__top">
                    <div class="why-choose-one__icon-bx">
                      <i class="icon-crops why-choose-one__icon"></i>
                    </div>

                    <div class="why-choose-one__top__right">
                      <h6 class="why-choose-one__name">
                        Organic <br />
                        Corn
                      </h6>
                    </div>
                  </div>

                  <div class="why-choose-one__content">
                    <p class="why-choose-one__descript">
                      Welcome to Dosner Organic Farms.We are a direct
                      distributor of 100% Organic herbs produce.
                    </p>
                    <a
                      href="service-d-fresh-fish.html"
                      class="why-choose-one__read-btn"
                      >Read More</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="why-choose-one__more-choose">
          <div class="why-choose-one__more-choose--bg">
            <h4 class="why-choose-one__more-choose--title">
              We are Distributors of Quality 100% <br />
              Organic Herbs and Produce.
            </h4>
            <div class="why-choose-one__more-choose--btn">
              <a href="/services" class="agrofa-btn why-choose-more--btn"
                ><span>More Services</span></a
              >
            </div>
          </div>
        </div>
      </section>
      <!-- /.why-choose-one--two -->

      <section class="team-skills-one team-skills-one--two">
        <div class="container-fluid">
          <div class="row team-skills-one__row">
            <div class="team-skills-one__col-left">
              <div class="team-skills-one__left-content">
                <div class="team-skills-one__left-content__inner">
                  <div class="section-common-title">
                    <span
                      class="team-skills-one__chose-reasone food-chose-reasone fadeInLeft wow"
                      data-wow-delay="1200ms"
                    >
                      <img
                        class="team-skills-one__chose-icon food-chose-icon"
                        src="assets/images/shapes/food-img1-1.png"
                        alt=""
                      />
                      <strong
                        class="team-skills-one__chose-name food-chose-name"
                        >Our Beneifts</strong
                      >
                    </span>
                    <h2
                      class="team-skills-one__title food-chose-title fadeInLeft wow"
                      data-wow-delay="1200ms"
                    >
                      We are Distributors of Quality 100% Organic Produce
                    </h2>
                  </div>

                  <div class="team-skills-one__customers">
                    <div class="team-skills-one__customers__col">
                      <div class="team-skills-one__customers__cricle">
                        <i
                          class="icon-cow team-skills-one__customers__icon-cricle"
                        ></i>
                      </div>
                      <div class="team-skills-one__customers__feedback">
                        <h6
                          class="team-skills-one__customers__title food-one__quality-title"
                        >
                          Select Best Pesticides and Fertilizers
                        </h6>
                        <p
                          class="team-skills-one__customers__info food-one__quality-info"
                        >
                          Select pesticides tailored to the pests affecting your
                          crops, while minimizing impact on beneficial organisms
                          and the environment. For fertilizers, base your choice
                          on the crop's nutrient needs and the soil's nutrient
                          profile. Proper selection and application improve crop
                          health, increase yields, and sustain soil fertility.
                        </p>
                      </div>
                    </div>

                    <div class="team-skills-one__customers__col">
                      <div class="team-skills-one__customers__cricle">
                        <span
                          ><i class="icon-crops why-choose-one__icon"></i
                        ></span>
                      </div>
                      <div class="team-skills-one__customers__feedback">
                        <h6
                          class="team-skills-one__customers__title food-one__quality-title"
                        >
                          Select Best Crops for Seasons
                        </h6>
                        <p
                          class="team-skills-one__customers__info food-one__quality-info"
                        >
                          Choosing the right crops for each season involves
                          considering factors such as weather conditions, soil
                          type, sunlight availability, and the length of the
                          growing season.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="team-skills-one__col-right">
              <div class="team-skills-one__col-right__all-product">
                <div class="team-skills-one__col-right__bg text-center">
                  <h5 class="team-skills-one__col-right__pure-product">
                    Pure Organic Products
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="team-skills-one__right-image">
          <div class="team-skills-one__right-image__bg">
            <img src="assets/images/resources/happy-customer2-1.png" alt="" />
          </div>
        </div>
      </section>
      <!-- /.team-skills-one--two -->

      <section
        class="eco-services-one eco-services-one--two jarallax"
        data-jarallax
        data-speed="0.3"
        data-imgPosition="50% -100%"
        style="
          background-image: url('assets/images/resources/eco-servicesbg2-2.png');
        "
      >
        <div class="eco-services-one__wrap container">
          <div class="row eco-services-one__bx">
            <div
              class="eco-services-one__info text-center fadeInDown wow"
              data-wow-delay="1200ms"
            >
              <img
                class="eco-services-one__tree-icon"
                src="assets/images/loader.png"
                alt=""
              />
              <h2 class="eco-services-one__title">
                We Offers Agriculture Eco Services
              </h2>
              <div class="eco-services-one__btn">
                <a href="/services" class="agrofa-btn eco-services-one--btn"
                  ><span>Explore More</span></a
                >
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /.eco-services-one -->

      <section class="work-learn-one work-learn-one--two">
        <div class="work-learn-one--two__inner-bg">
          <div class="eco-services-one--label">
            <div class="eco-services-one--label__inner">
              <img
                class="eco-services-one--label__logo-shape"
                src="assets/images/shapes/eco-organic-shape1-1.png"
                alt=""
              />
              <div class="eco-services-one--label__logo-bx">
                <img
                  class="eco-services-one--label__logo"
                  src="assets/images/shapes/eco-organic-log1-1.png"
                  alt=""
                />
              </div>
            </div>
          </div>

          <div class="container work-learn-one__wrap">
            <div class="section-common-title">
              <span
                class="work-learn-one__chose-reasone food-chose-reasone fadeInLeft wow animated"
                data-wow-delay="1200ms"
                style="visibility: visible; animation-name: fadeInLeft"
              >
                <img
                  class="work-learn-one__chose-icon food-chose-icon"
                  src="assets/images/shapes/food-img1-1.png"
                  alt=""
                />
                <strong class="work-learn-one__chose-name food-chose-name"
                  >Our Cleaning Process</strong
                >
              </span>
              <h2
                class="work-learn-one__title food-chose-title fadeInLeft wow animated"
                data-wow-delay="100ms"
                style="visibility: visible; animation-name: fadeInLeft"
              >
                How we do Agricultural Work
              </h2>
              <p
                class="work-learn-one__text food-chose-text fadeInRight wow animated"
                data-wow-delay="100ms"
                style="visibility: visible; animation-name: fadeInRight"
              >
                The modern consumer demands, quality organic products which is
                why our selection of farm-grown herbs and produce are top
                quality, always fresh, and 100% organic certified.
              </p>
            </div>
            <div class="work-learn-one__bx">
              <div
                class="work-learn-one__col fadeIn wow animated"
                data-wow-delay="100ms"
                style="
                  visibility: visible;
                  animation-delay: 1500ms;
                  animation-name: fadeIn;
                "
              >
                <div class="work-learn-one__inner">
                  <div class="work-learn-one__img">
                    <div class="work-learn-one__inner-img">
                      <img
                        src="assets/images/work-learn/work-learn1-1.png"
                        alt=""
                      />
                    </div>
                  </div>
                  <h5 class="work-learn-one__work-title">Our Plan</h5>
                </div>
              </div>

              <div
                class="work-learn-one__col fadeIn wow animated"
                data-wow-delay="200ms"
                style="
                  visibility: visible;
                  animation-delay: 1700ms;
                  animation-name: fadeIn;
                "
              >
                <div class="work-learn-one__inner">
                  <div class="work-learn-one__img">
                    <div class="work-learn-one__inner-img">
                      <img
                        src="assets/images/work-learn/work-learn1-2.png"
                        alt=""
                      />
                    </div>
                  </div>
                  <h5 class="work-learn-one__work-title">Best Analysis</h5>
                </div>
              </div>

              <div
                class="work-learn-one__col fadeIn wow animated"
                data-wow-delay="300ms"
                style="
                  visibility: visible;
                  animation-delay: 1900ms;
                  animation-name: fadeIn;
                "
              >
                <div class="work-learn-one__inner">
                  <div class="work-learn-one__img">
                    <div class="work-learn-one__inner-img">
                      <img
                        src="assets/images/work-learn/work-learn1-3.png"
                        alt=""
                      />
                    </div>
                  </div>
                  <h5 class="work-learn-one__work-title">Suggest Quality Products</h5>
                </div>
              </div>

              <div
                class="work-learn-one__col fadeIn wow animated"
                data-wow-delay="400ms"
                style="
                  visibility: visible;
                  animation-delay: 2100ms;
                  animation-name: fadeIn;
                "
              >
                <div class="work-learn-one__inner">
                  <div class="work-learn-one__img">
                    <div class="work-learn-one__inner-img">
                      <img
                        src="assets/images/work-learn/work-learn1-4.png"
                        alt=""
                      />
                    </div>
                  </div>
                  <h5 class="work-learn-one__work-title">We Deliver</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <%- include("./partials/footer") %>
    </div>
    <!-- /.page-wrapper -->

    <div class="mobile-nav__wrapper">
      <div class="mobile-nav__overlay mobile-nav__toggler"></div>
      <!-- /.mobile-nav__overlay -->
      <div class="mobile-nav__content">
        <span class="mobile-nav__close mobile-nav__toggler"
          ><i class="fa fa-times"></i
        ></span>

        <div class="logo-box">
          <a href="/" aria-label="logo image"
            ><img src="assets/images/logo-light.png" width="155" alt=""
          /></a>
        </div>
        <!-- /.logo-box -->
        <div class="mobile-nav__container"></div>
        <!-- /.mobile-nav__container -->

        <!-- /.mobile-nav__social -->
      </div>
      <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->
    <div class="search-popup">
      <div class="search-popup__overlay search-toggler"></div>
      <!-- /.search-popup__overlay -->
      <div class="search-popup__content">
        <form role="search" method="get" class="search-popup__form" action="#">
          <input type="text" id="search" placeholder="Search Here..." />
          <button
            type="submit"
            aria-label="search submit"
            class="agrofa-btn agrofa-btn--base"
          >
            <span><i class="icon-search1"></i></span>
          </button>
        </form>
      </div>
      <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top">
      <span class="scroll-to-top__text">back top</span>
      <span class="scroll-to-top__wrapper"
        ><span class="scroll-to-top__inner"></span
      ></span>
    </a>

    <script src="assets/vendors/jquery/jquery-3.7.0.min.js"></script>
    <script src="assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendors/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="assets/vendors/jarallax/jarallax.min.js"></script>
    <script src="assets/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="assets/vendors/jquery-appear/jquery.appear.min.js"></script>
    <script src="assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
    <script src="assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="assets/vendors/jquery-validate/jquery.validate.min.js"></script>
    <script src="assets/vendors/nouislider/nouislider.min.js"></script>
    <script src="assets/vendors/tiny-slider/tiny-slider.js"></script>
    <script src="assets/vendors/wnumb/wNumb.min.js"></script>
    <script src="assets/vendors/owl-carousel/js/owl.carousel.min.js"></script>
    <script src="assets/vendors/wow/wow.js"></script>
    <script src="assets/vendors/imagesloaded/imagesloaded.min.js"></script>
    <script src="assets/vendors/isotope/isotope.js"></script>
    <script src="assets/vendors/countdown/countdown.min.js"></script>
    <script src="assets/vendors/jquery-circleType/jquery.circleType.js"></script>
    <script src="assets/vendors/jquery-lettering/jquery.lettering.min.js"></script>
    <!-- template js -->
    <script src="assets/js/agrofa.js"></script>
  </body>

  <!-- Mirrored from bracketweb.com/agrofa-html/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 17 Sep 2024 12:01:43 GMT -->
</html>
