<!DOCTYPE html>
<html lang="en">
  <!-- Mirrored from bracketweb.com/agrofa-html/services.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 17 Sep 2024 12:01:49 GMT -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services</title>
    <!-- favicons Icons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/images/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/images/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="assets/images/favicons/favicon-16x16.png"
    />
    <link rel="manifest" href="assets/images/favicons/site.webmanifest" />
    <meta
      name="description"
      content="Sollox is a modern HTML Template for Beauty, Spa Centers, Hair, Nail, Spa Salons & Cosmetic shops. The template perfectly fits Beauty Spa, Salon, and Wellness Treatments websites and businesses."
    />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Pathway+Extreme:opsz,wght@8..144,400;8..144,600&amp;display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="assets/vendors/bootstrap/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="assets/vendors/bootstrap-select/bootstrap-select.min.css"
    />
    <link rel="stylesheet" href="assets/vendors/animate/animate.min.css" />
    <link rel="stylesheet" href="assets/vendors/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="assets/vendors/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="assets/vendors/jarallax/jarallax.css" />
    <link
      rel="stylesheet"
      href="assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css"
    />
    <link
      rel="stylesheet"
      href="assets/vendors/nouislider/nouislider.min.css"
    />
    <link
      rel="stylesheet"
      href="assets/vendors/nouislider/nouislider.pips.css"
    />
    <link rel="stylesheet" href="assets/vendors/tiny-slider/tiny-slider.css" />
    <link rel="stylesheet" href="assets/vendors/agrofa-icons/style.css" />
    <link
      rel="stylesheet"
      href="assets/vendors/owl-carousel/css/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="assets/vendors/owl-carousel/css/owl.theme.default.min.css"
    />

    <!-- template styles -->
    <link rel="stylesheet" href="assets/css/agrofa.css" />
  </head>

  <body class="custom-cursor">
    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>

    <div class="preloader">
      <div
        class="preloader__image"
        style="background-image: url(assets/images/loader.png)"
      ></div>
    </div>
    <!-- /.preloader -->
    <div class="page-wrapper">
      <%- include("./partials/header") %>

      <section class="page-header page-header--services">
        <div class="page-header__bg"></div>
        <!-- /.page-header__bg -->
        <div class="container">
          <!-- <img src="assets/images/shapes/page-header-s-1.png" alt="Our Services" class="page-header__shape"> -->
          <h2 class="page-header__title">Our Services</h2>
          <ul class="agrofa-breadcrumb list-unstyled">
            <li><a href="/">Home</a></li>
            <li><span>Services</span></li>
          </ul>
          <!-- /.thm-breadcrumb list-unstyled -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /.page-header -->
      <section
        class="why-choose-one why-choose-one--three why-choose-one--services"
      >
        <div class="container">
          <div class="row why-choose-one__row">
            <div
              class="why-choose-one__col col-xl-4 wow fadeIn animated"
              data-wow-delay="100ms"
            >
              <div class="why-choose-one__bg">
                <div class="why-choose-one__bg-inner">
                  <div class="why-choose-one__top">
                    <div class="why-choose-one__icon-bx">
                      <i class="icon-apple why-choose-one__icon"></i>
                    </div>

                    <div class="why-choose-one__top__right">
                      <h6 class="why-choose-one__name">
                        Agriculture <br />
                        Products
                      </h6>
                    </div>
                  </div>

                  <div class="why-choose-one__content">
                    <p class="why-choose-one__descript">
                        Discover the best crops to grow this season and purchase premium pesticides, fertilizers, and more, delivered right to your door.
                    </p>
                
                  </div>
                </div>
              </div>
            </div>

            <div
              class="why-choose-one__col col-xl-4 wow fadeIn animated"
              data-wow-delay="200ms"
            >
              <div class="why-choose-one__bg">
                <div class="why-choose-one__bg-inner">
                  <div class="why-choose-one__top">
                    <div class="why-choose-one__icon-bx">
                        <i class="icon-crops about-two__icon" aria-hidden="true"></i>
                    </div>

                    <div class="why-choose-one__top__right">
                      <h6 class="why-choose-one__name">
                        Best Crops <br />
                        For Seasons
                      </h6>
                    </div>
                  </div>

                  <div class="why-choose-one__content">
                    <p class="why-choose-one__descript">
                        Discover the perfect crops for every season, tailored to your region and weather conditions for maximum yield.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="why-choose-one__col col-xl-4 wow fadeIn animated"
              data-wow-delay="300ms"
            >
              <div class="why-choose-one__bg">
                <div class="why-choose-one__bg-inner">
                  <div class="why-choose-one__top">
                    <div class="why-choose-one__icon-bx">
                      <i class="icon-medicine why-choose-one__icon"></i>
                    </div>

                    <div class="why-choose-one__top__right">
                      <h6 class="why-choose-one__name">
                        Best <br />
                        Pesticides & Fertilizations
                      </h6>
                    </div>
                  </div>

                  <div class="why-choose-one__content">
                    <p class="why-choose-one__descript">
                      Our advanced pesticides and fertilizers shield your crops from harmful
                      pests while ensuring environmental safety and crop health.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section
        class="eco-services-one eco-services-one--services jarallax"
        data-jarallax=""
        data-speed="0.3"
        style="
          background-image: url('assets/images/hero-images/hero-img1-2.jpg');
        "
      >
        <div class="eco-services-one__wrap container">
          <div class="row eco-services-one__bx">
            <div
              class="eco-services-one__info text-center fadeInDown wow"
              data-wow-delay="200ms"
            >
              <img
                class="eco-services-one__tree-icon"
                src="assets/images/loader.png"
                alt=""
              />
              <h2 class="eco-services-one__title">
                We Offers Agriculture Eco Services
              </h2>
              <div class="eco-services-one__btn">
                <a href="/services" class="agrofa-btn eco-services-one--btn"
                  ><span>Explore More</span></a
                >
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /.eco-services-one -->

      <section class="work-learn-one work-learn-one--services">
        <div class="eco-services-one--label">
          <div class="eco-services-one--label__inner">
            <img
              class="eco-services-one--label__logo-shape"
              src="assets/images/shapes/eco-organic-shape1-1.png"
              alt=""
            />
            <div class="eco-services-one--label__logo-bx">
              <img
                class="eco-services-one--label__logo"
                src="assets/images/shapes/eco-organic-log1-1.png"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="container work-learn-one__wrap">
          <div class="section-common-title">
            <span
              class="work-learn-one__chose-reasone food-chose-reasone fadeInLeft wow"
              data-wow-delay="200ms"
            >
              <img
                class="work-learn-one__chose-icon food-chose-icon"
                src="assets/images/shapes/food-img1-1.png"
                alt=""
              />
              <strong class="work-learn-one__chose-name food-chose-name"
                >Our Cleaning Process</strong
              >
            </span>
            <h2
              class="work-learn-one__title food-chose-title fadeInLeft wow"
              data-wow-delay="200ms"
            >
              How we do Agricultural Work
            </h2>
            <p
              class="work-learn-one__text food-chose-text fadeInRight wow"
              data-wow-delay="1200ms"
            >
              The modern consumer demands, quality organic products which is why
              our selection of farm-grown herbs and produce are top quality,
              always fresh, and 100% organic certified.
            </p>
          </div>
          <div class="work-learn-one__bx">
            <div class="work-learn-one__col fadeIn wow" data-wow-delay="100ms">
              <div class="work-learn-one__inner">
                <div class="work-learn-one__img">
                  <div class="work-learn-one__inner-img">
                    <img
                      src="assets/images/work-learn/work-learn1-1.png"
                      alt=""
                    />
                  </div>
                </div>
                <h5 class="work-learn-one__work-title">Our Plan</h5>
              </div>
            </div>

            <div class="work-learn-one__col fadeIn wow" data-wow-delay="200ms">
              <div class="work-learn-one__inner">
                <div class="work-learn-one__img">
                  <div class="work-learn-one__inner-img">
                    <img
                      src="assets/images/work-learn/work-learn1-2.png"
                      alt=""
                    />
                  </div>
                </div>
                <h5 class="work-learn-one__work-title">Best Analysis</h5>
              </div>
            </div>

            <div class="work-learn-one__col fadeIn wow" data-wow-delay="300ms">
              <div class="work-learn-one__inner">
                <div class="work-learn-one__img">
                  <div class="work-learn-one__inner-img">
                    <img
                      src="assets/images/work-learn/work-learn1-3.png"
                      alt=""
                    />
                  </div>
                </div>
                <h5 class="work-learn-one__work-title">
                  Suggest Quality Products
                </h5>
              </div>
            </div>

            <div class="work-learn-one__col fadeIn wow" data-wow-delay="400ms">
              <div class="work-learn-one__inner">
                <div class="work-learn-one__img">
                  <div class="work-learn-one__inner-img">
                    <img
                      src="assets/images/work-learn/work-learn1-4.png"
                      alt=""
                    />
                  </div>
                </div>
                <h5 class="work-learn-one__work-title">We Deliver</h5>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /.work-learn-one -->

      <!-- Feature Start -->
      <section class="feature-one feature-one--services">
        <div class="container">
          <div class="row">
            <div
              class="feature-one__col-item col-md-4 col-sm-12 wow fadeInUp"
              data-wow-delay="100ms"
            >
              <div class="feature-one__item text-center">
                <div class="feature-one__item-bg">
                  <div class="feature-one__cricle-icon">
                    <i
                      class="icon-crops about-two__icon"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <h3 class="feature-one__title">
                    Best Crops <br />
                    For Seasons
                  </h3>
                </div>
              </div>
              <!-- feature-item -->
            </div>

            <div
              class="feature-one__col-item col-md-4 col-sm-12 wow fadeInUp"
              data-wow-delay="100ms"
            >
              <div class="feature-one__item text-center">
                <div class="feature-one__item-bg">
                  <div class="feature-one__cricle-icon">
                    <i
                      class="icon-hand feature-one__icon"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <h3 class="feature-one__title">
                    Find Best <br />
                    Pesticides
                  </h3>
                </div>
              </div>
              <!-- feature-item -->
            </div>

            <div
              class="feature-one__col-item col-md-4 col-sm-12 wow fadeInUp"
              data-wow-delay="100ms"
            >
              <div class="feature-one__item text-center">
                <div class="feature-one__item-bg">
                  <div class="feature-one__cricle-icon">
                    <i
                      class="icon-tractor feature-one__icon"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <h3 class="feature-one__title">
                    Select Best <br />
                    Fertilizations
                  </h3>
                </div>
              </div>
              <!-- feature-item -->
            </div>
          </div>
        </div>
      </section>
      <!-- Feature End -->

      <%- include("./partials/footer") %>
    </div>
    <!-- /.page-wrapper -->

    <div class="mobile-nav__wrapper">
      <div class="mobile-nav__overlay mobile-nav__toggler"></div>
      <!-- /.mobile-nav__overlay -->
      <div class="mobile-nav__content">
        <span class="mobile-nav__close mobile-nav__toggler"
          ><i class="fa fa-times"></i
        ></span>

        <div class="logo-box">
          <a href="/" aria-label="logo image"
            ><img src="assets/images/logo-light.png" width="155" alt=""
          /></a>
        </div>
        <!-- /.logo-box -->
        <div class="mobile-nav__container"></div>
        <!-- /.mobile-nav__container -->
      </div>
      <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top">
      <span class="scroll-to-top__text">back top</span>
      <span class="scroll-to-top__wrapper"
        ><span class="scroll-to-top__inner"></span
      ></span>
    </a>

    <script src="assets/vendors/jquery/jquery-3.7.0.min.js"></script>
    <script src="assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendors/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="assets/vendors/jarallax/jarallax.min.js"></script>
    <script src="assets/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="assets/vendors/jquery-appear/jquery.appear.min.js"></script>
    <script src="assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
    <script src="assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="assets/vendors/jquery-validate/jquery.validate.min.js"></script>
    <script src="assets/vendors/nouislider/nouislider.min.js"></script>
    <script src="assets/vendors/tiny-slider/tiny-slider.js"></script>
    <script src="assets/vendors/wnumb/wNumb.min.js"></script>
    <script src="assets/vendors/owl-carousel/js/owl.carousel.min.js"></script>
    <script src="assets/vendors/wow/wow.js"></script>
    <script src="assets/vendors/imagesloaded/imagesloaded.min.js"></script>
    <script src="assets/vendors/isotope/isotope.js"></script>
    <script src="assets/vendors/countdown/countdown.min.js"></script>
    <script src="assets/vendors/jquery-circleType/jquery.circleType.js"></script>
    <script src="assets/vendors/jquery-lettering/jquery.lettering.min.js"></script>
    <!-- template js -->
    <script src="assets/js/agrofa.js"></script>
  </body>

  <!-- Mirrored from bracketweb.com/agrofa-html/services.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 17 Sep 2024 12:01:52 GMT -->
</html>
